extends layout

block content 
  header
    h2 #{title}

  div(class="create_update_form")
    form(action=(title === "Create Category" ? "/inventory/category/create" : `/inventory/category/${category._id}/update`) method='POST')
        div
          label(for="name") Name
          br
          input(type="text" name="name" id="name" required placeholder="Enter name..." value=(undefined === category ? '' : category.name)) 
        br
        div 
          label(for="description") Description
          br
          textarea(type="text" cols="30" rows="10" name="description" id="description" required placeholder="Enter description..." )= undefined === category ? '' : category.description
        br
        div
          button(type="submit") Confirm
